<% layout('layouts/boilerplate') %>

<!-- for form validation set each input to required, add novalidate to form, optional valid-feedback text,
add class and modified bootstrap js -->

<div class="row">
    <h1 class="text-center">Create New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" name="campground[title]" id="title" placeholder="campsite name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" name="campground[location]" id="location" placeholder="campsite location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Images:</label>
                <input type="file" class="form-control" name="image" id="image" multiple required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!--<div class="mb-3">
                <label for="image" class="form-label">Image URL:</label>
                <input type="text" class="form-control" name="campground[image]" id="image" placeholder="campsite image link" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>-->
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" name="campground[description]" id="description" placeholder="campsite description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price per night:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Add campground</button>
            </div>
        </form>
        <a href="/campgrounds">Back to all campgrounds</a>
    </div>
</div>


